{
  "plugins": ["cypress", "jest", "no-only-tests"],
  "env": {
    "cypress/globals": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "esnext"
  ],
  "rules": {
    "no-invalid-this": "off",
    "no-only-tests/no-only-tests": 2
  }
}
