/coverage
/demo/dist
/es
/lib
/node_modules
/umd
npm-debug.log*
.eslintcache
.env

.DS_Store
cypress.env.json
cypress/videos
cypress/screenshots

*.iml
.idea/
.vscode/

.cache
.rts2_cache_cjs
.rts2_cache_esm
.rts2_cache_umd
dist

demo/node_modules
demo/dist
demo/.cache